.main {
  padding: 30px 10%;
}

@media only screen and (max-width: 450px) {
  .main {
    padding: 0 5%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .main {
    padding: 0 15%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .main {
    padding: 0 3%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .main {
    padding: 0 15%;
  }
}

.animate {
  transition: all 250ms;
}